src/main/resources/wsdl/RegUser.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.hostco.ru/reguser" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" targetNamespace="http://www.hostco.ru/reguser">
    <wsdl:types>
        <xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.hostco.ru/reguser" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rt="http://www.hostco.ru/reguser/types" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" targetNamespace="http://www.hostco.ru/reguser">
            <xs:import namespace="http://www.hostco.ru/reguser/types" schemaLocation="Types.xsd"/>
            <xsd:element name="regUserRequest" type="rt:RegUserRequestType"/>
            <xsd:element name="regUserResponse" type="rt:RegUserResponseType"/>
            <xsd:element name="editUserRequest" type="rt:EditUserRequestType"/>
            <xsd:element name="editUserResponse" type="rt:EditUserResponseType"/>
            <xsd:element name="resetPasswordRequest" type="rt:ResetPasswordRequestType"/>
            <xsd:element name="resetPasswordResponse" type="rt:ResetPasswordResponseType"/>
            <xsd:element name="getUserRequest" type="rt:GetUserRequestType"/>
            <xsd:element name="getUserResponse" type="rt:GetUserResponseType"/>
            <xsd:element name="getRolesRequest" type="rt:GetRolesRequestType"/>
            <xsd:element name="getRolesResponse" type="rt:GetRolesResponseType"/>
            <xsd:element name="setRolesRequest" type="rt:SetRolesRequestType"/>
            <xsd:element name="setRolesResponse" type="rt:SetRolesResponseType"/>
            <xsd:element name="authUserRequest" type="rt:AuthRequestType"/>
            <xsd:element name="authUserResponse" type="rt:AuthResponseType"/>
            <xsd:element name="changePasswordRequest" type="rt:ChangePasswordRequestType"/>
            <xsd:element name="changePasswordResponse" type="rt:ChangePasswordResponseType"/>
            <xsd:element name="getAccessCodeRequest" type="rt:GetAccessCodeRequestType"/>
            <xsd:element name="getAccessCodeResponse" type="rt:GetAccessCodeResponseType"/>
            <xsd:element name="checkAccessCodeRequest" type="rt:CheckAccessCodeRequestType"/>
            <xsd:element name="checkAccessCodeResponse" type="rt:StandartResponseType"/>
            <xsd:element name="addChildRequest" type="rt:ParentType"/>
            <xsd:element name="addChildResponse" type="rt:StandartResponseType"/>
            <xsd:element name="editChildRequest" type="rt:ParentType"/>
            <xsd:element name="editChildResponse" type="rt:StandartResponseType"/>
            <xsd:element name="deleteChildRequest" type="rt:ParentType"/>
            <xsd:element name="deleteChildResponse" type="rt:StandartResponseType"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="authUserResponse">
        <wsdl:part element="tns:authUserResponse" name="authUserResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addChildResponse">
        <wsdl:part element="tns:addChildResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="resetPasswordRequest">
        <wsdl:part element="tns:resetPasswordRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="editUserRequest">
        <wsdl:part element="tns:editUserRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteChildRequest">
        <wsdl:part element="tns:deleteChildRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="setRolesRequest">
        <wsdl:part element="tns:setRolesRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAccessCodeResponse">
        <wsdl:part element="tns:getAccessCodeResponse" name="getAccessCodeResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="regUserRequest">
        <wsdl:part element="tns:regUserRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="authUserRequest">
        <wsdl:part element="tns:authUserRequest" name="authUserRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="checkAccessCodeResponse">
        <wsdl:part element="tns:checkAccessCodeResponse" name="checkAccessCodeResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAccessCodeRequest">
        <wsdl:part element="tns:getAccessCodeRequest" name="getAccessCodeRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRolesResponse">
        <wsdl:part element="tns:getRolesResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getUserRequest">
        <wsdl:part element="tns:getUserRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRolesRequest">
        <wsdl:part element="tns:getRolesRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="resetPasswordResponse">
        <wsdl:part element="tns:resetPasswordResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="editChildResponse">
        <wsdl:part element="tns:editChildResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="checkAccessCodeRequest">
        <wsdl:part element="tns:checkAccessCodeRequest" name="checkAccessCodeRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteChildResponse">
        <wsdl:part element="tns:deleteChildResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="editChildRequest">
        <wsdl:part element="tns:editChildRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="setRolesResponse">
        <wsdl:part element="tns:setRolesResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="editUserResponse">
        <wsdl:part element="tns:editUserResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="changePasswordResponse">
        <wsdl:part element="tns:changePasswordResponse" name="changePasswordResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addChildRequest">
        <wsdl:part element="tns:addChildRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getUserResponse">
        <wsdl:part element="tns:getUserResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="changePasswordRequest">
        <wsdl:part element="tns:changePasswordRequest" name="changePasswordRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="regUserResponse">
        <wsdl:part element="tns:regUserResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="RegUser">
        <wsdl:operation name="regUser">
            <wsdl:documentation>Регистрация пользователя в единой базе данных
                пользователей здравоохранения ХМАО-Югры
            </wsdl:documentation>
            <wsdl:input message="tns:regUserRequest">
            </wsdl:input>
            <wsdl:output message="tns:regUserResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editUser">
            <wsdl:documentation>Редактирование атрибутов пользователя в единой
                базе данных пользователей здравоохранения ХМАО-Югры
            </wsdl:documentation>
            <wsdl:input message="tns:editUserRequest">
            </wsdl:input>
            <wsdl:output message="tns:editUserResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="resetPassword">
            <wsdl:documentation>Сброс пароля пользователя в единой базе данных
                пользователей здравоохранения ХМАО-Югры
            </wsdl:documentation>
            <wsdl:input message="tns:resetPasswordRequest">
            </wsdl:input>
            <wsdl:output message="tns:resetPasswordResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUser">
            <wsdl:documentation>Запрос сведений о пользователе
            </wsdl:documentation>
            <wsdl:input message="tns:getUserRequest">
            </wsdl:input>
            <wsdl:output message="tns:getUserResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRoles">
            <wsdl:documentation>Запрос списка ролей пользователя
            </wsdl:documentation>
            <wsdl:input message="tns:getRolesRequest">
            </wsdl:input>
            <wsdl:output message="tns:getRolesResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setRoles">
            <wsdl:documentation>Присваивание пользователю списка ролей
            </wsdl:documentation>
            <wsdl:input message="tns:setRolesRequest">
            </wsdl:input>
            <wsdl:output message="tns:setRolesResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authUser">
            <wsdl:documentation>Авторизовать пользователя (для мобильных
                приложени)
            </wsdl:documentation>
            <wsdl:input message="tns:authUserRequest">
            </wsdl:input>
            <wsdl:output message="tns:authUserResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <wsdl:documentation>Сменить пароль позователю</wsdl:documentation>
            <wsdl:input message="tns:changePasswordRequest">
            </wsdl:input>
            <wsdl:output message="tns:changePasswordResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAccessCode">
            <wsdl:documentation>Получить код доступа пользователя
            </wsdl:documentation>
            <wsdl:input message="tns:getAccessCodeRequest">
            </wsdl:input>
            <wsdl:output message="tns:getAccessCodeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkAccessCode">
            <wsdl:documentation>Проверить код доступа пользователя</wsdl:documentation>
            <wsdl:input message="tns:checkAccessCodeRequest">
            </wsdl:input>
            <wsdl:output message="tns:checkAccessCodeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addChild">
            <wsdl:documentation>Добавляет пользователю сведения о ребёнке
            </wsdl:documentation>
            <wsdl:input message="tns:addChildRequest">
            </wsdl:input>
            <wsdl:output message="tns:addChildResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editChild">
            <wsdl:documentation>Редактирование сведений о ребёнке
            </wsdl:documentation>
            <wsdl:input message="tns:editChildRequest">
            </wsdl:input>
            <wsdl:output message="tns:editChildResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteChild">
            <wsdl:documentation>Удаление сведений о ребёнке
            </wsdl:documentation>
            <wsdl:input message="tns:deleteChildRequest">
            </wsdl:input>
            <wsdl:output message="tns:deleteChildResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="regUserSOAP" type="tns:RegUser">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="regUser">
            <soap:operation soapAction="http://www.hostco.ru/reguser/regUser"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editUser">
            <soap:operation soapAction="http://www.hostco.ru/reguser/editUser"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="resetPassword">
            <soap:operation soapAction="http://www.hostco.ru/reguser/resetPassword"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUser">
            <soap:operation soapAction="http://www.hostco.ru/reguser/getUser"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRoles">
            <soap:operation soapAction="http://www.hostco.ru/reguser/getRoles"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setRoles">
            <soap:operation soapAction="http://www.hostco.ru/reguser/setRoles"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authUser">
            <soap:operation soapAction="http://www.hostco.ru/reguser/authUser"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <soap:operation soapAction="http://www.hostco.ru/reguser/changePassword"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAccessCode">
            <soap:operation soapAction="http://www.hostco.ru/reguser/getAccessCode"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkAccessCode">
            <soap:operation soapAction="http://www.hostco.ru/reguser/checkAccessCode"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addChild">
            <soap:operation soapAction="http://www.hostco.ru/reguser/addChild"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editChild">
            <soap:operation soapAction="http://www.hostco.ru/reguser/editChild"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteChild">
            <soap:operation soapAction="http://www.hostco.ru/reguser/deleteChild"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RegUserService">
        <wsdl:port binding="tns:regUserSOAP" name="regUserSOAP">
            <soap:address location="https://cas-test.hostco.ru/RegUserService/services/RegUserService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>